
.online {
    color: #4cae4c;
}

#auth-box {
    width: 300px;
    margin: auto auto;
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 30px;
}

#send-msg {
    margin-top: 1px;
    height: 72px;
}

#msg-textarea {
    height: 72px;
}

#nick-error {
  color: #d43f3a;
}

#chat-box-tools {
    margin-top: 10px;
}

#user-list {
    height: 285px;
    overflow-y: scroll;
    margin-top: 15px;
}

#chat-box {
  height: 300px;
  border: solid 1px #d5d5d5;
  overflow-y: scroll;
}

#chat-box table td.chat-date {
  width: 50px;
}

#chat-box table .chat-date span {
  color: #e5e5e5;
  font-size: 12px;
}
#chat-box table .chat-date strong {
  font-size: 12px;
}

#chat-box table .chat-date {
  text-align: center;
  vertical-align: middle;
  padding: 0;
  padding-left: 5px;
  padding-right: 15px;
}

#chat-box .chat-nick {
  color: #7a43b6;
}

#chat-box table .chat-msg {
  vertical-align: middle;
  padding: 0;
  padding-left: 5px;
}

#chat-box .table {
  margin-bottom: 0px;
}

.newmsg td {
  background: #fcf8e3;
}